<a href="https://colab.research.google.com/github/techllen/AI_ML_projects/blob/main/decision_trees/Adult_income_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color='56c3ea'><h1><b>Adult Income Analysis<b></h1></font>

###Bachgound and Problem statement
- An individual’s annual income results from various factors. Some know factors are education level, age, gender, occupation.

- In this work we want to explore what are the main factors based on the individual’s personal information can contribute to their income(weather its Low or high).

- The income is divided into two groups >50K is a high income and <=50K is a low income

- Dataset :  https://www.kaggle.com/datasets/wenruliu/adult-income-dataset

###Data understanding
- Below is atble to describe what is the meaning of each column

| Number | Column Name      | Description                                                                                           |
|--------|------------------|-------------------------------------------------------------------------------------------------------|
| 1      | age              | The age of the individual.                                                                            |
| 2      | workclass        | Type of employment (e.g., Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, etc.).      |
| 3      | fnlwgt           | Final weight; represents the number of people the census believes the entry represents.               |
| 4      | education        | Highest level of education achieved (e.g., Bachelors, HS-grad, Masters, etc.).                        |
| 5      | education-num    | Number of years of education completed.                                                               |
| 6      | marital-status   | Marital status of the individual (e.g., Married-civ-spouse, Never-married, Divorced, etc.).           |
| 7      | occupation       | Occupation of the individual (e.g., Tech-support, Craft-repair, Sales, Exec-managerial, etc.).        |
| 8      | relationship     | Relationship status within a family (e.g., Wife, Own-child, Husband, Not-in-family, etc.).            |
| 9      | race             | Race of the individual (e.g., White, Black, Asian-Pac-Islander, Amer-Indian-Eskimo, Other).           |
| 10     | sex              | Gender of the individual (Male or Female).                                                            |
| 11     | capital-gain     | Capital gains; income from investment sources apart from wages/salary.                                |
| 12     | capital-loss     | Capital losses; losses from investment sources apart from wages/salary.                               |
| 13     | hours-per-week   | Number of hours worked per week.                                                                      |
| 14     | native-country   | Country of origin (e.g., United-States, Canada, England, Germany, India, etc.).                       |
| 15     | income           | Income bracket of the individual ('<=50K' or '>50K').                                                 |

In [5]:
# Install dependencies as needed:
!pip install kagglehub[pandas-datasets] --quiet

In [7]:
# Importing required libraries
import kagglehub
from kagglehub import KaggleDatasetAdapter

In [8]:
# Set the path to the file you'd like to load
file_path = "adult.csv"

# Load the latest version
df = kagglehub.load_dataset(
  KaggleDatasetAdapter.PANDAS,
  "wenruliu/adult-income-dataset",
  file_path,
  # Provide any additional arguments like
  # sql_query or pandas_kwargs. See the
  # documenation for more information:
  # https://github.com/Kaggle/kagglehub/blob/main/README.md#kaggledatasetadapterpandas
)

<ipython-input-8-780d70468e83>:5: DeprecationWarning: load_dataset is deprecated and will be removed in future version.
  df = kagglehub.load_dataset(

Downloading from https://www.kaggle.com/api/v1/datasets/download/wenruliu/adult-income-dataset?dataset_version_number=2&file_name=adult.csv...

100%|██████████| 652k/652k [00:00<00:00, 88.7MB/s]

Extracting zip of adult.csv...

In [9]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [17]:
# columns = [col for col in df.columns]
# print(columns)

# for col in columns:
#     print(df[col].value_counts())

['age', 'workclass', 'fnlwgt', 'education', 'educational-num', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']

In [25]:
df["occupation"].value_counts()

occupation
Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
?                    2809
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: count, dtype: int64